body{
	padding:0px;
	margin:0px;
	#mainContent{
		width:80%;
		margin:auto;
		padding:5px;
		
		.panel{
			border:1px solid #000000;
			position:relative;
			.subPanel{
				width:98%;
				margin:auto;
			}
		}
		.subContent{
			.panel:not(:last-child){
				margin-bottom:10px;
			}
		}
		#Left{
			width:35%;
			display:inline-block;
		}
		#Right{
			width:64%;
			float:right;
			display:inline-block;
		}
		#profilePanel{
			height:150px;
			
			#profileInfo{
				position:absolute;
				bottom:0px;
				width:100%;
				padding:5px 0px;
				color:#F0F0F0;
				background-color:rgba(0,0,0,0.8);
			}
		}
	}
	#footer{
		margin-top:10px;
		padding:3px 0px 3px 0px;
		background-color:rgba(0,0,0,0.8);
		text-align:center;
		color:#F0F0F0;
	}

	@media screen and(max-width: 640px){
		#mainContent{
			width:100% !important;
		}
		.subContent, #footer{
			width:98% !important;
		}
		#Right{
			float:none !important;
		}
	}
}