body{
	padding:0px;
	margin:0px;
	$percent_barcolor:#2ebd59;
	$percent_ebarcolor:#303030;
	$percent_fontcolor:#FFFFFF;
	$percent_backcolor:#303030;

	.hide{
		display:none;
	}
	
	.fa-steam-square{
		color:#303030;
	}
	.fa-facebook-square{
		color:#3b5998;
	}
	.fa-instagram{
		color:#f56040;
	}
	.fa-github-square{
		color:#6cc644;
	}
	.fa-linkedin-square{
		color:#0077b5;
	}
	.fa-envelope-square{
		color:#410093;
	}

	.overR50{
		font-size: 50px !important;
		margin:3px 5px;
		background-color:$percent_ebarcolor;
		>span{
			color:$percent_fontcolor;
			&:hover{
				color:$percent_barcolor;
			}
		}
		.slice{
			.bar,.fill{
				border-color:$percent_barcolor;
			}
		}
		&:after{
			background-color:$percent_backcolor;
		}
	}

	.mask{
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.98);
		z-index:999999;
		.cont{
			background-color:#FFFFFF;
			position:relative;
			margin:auto;
			top:50%;
			left:49%;
			display:inline;
			z-index:1000000;
			padding:8px;
			font-size: 3.0vw !important;
			border-radius:5px;

			.close{
				position:absolute;
				right:-15px;
				top:-15px;
				color:rgba(255,255,255,0.5);
				font-size:1.0vw !important;
				&:hover{
					color:rgba(255,255,255,0.8);
				}
			}
		}
	}

	ul{
		list-style: none;
		margin:0px;
		padding:0px;
		li{
			display:inline-block;
			margin:0px;
			padding:0px;
			a{
				color:black;
			}
		}
	}

	#mainContent{
		width:80%;
		margin:auto;
		padding:5px;
		
		.panel{
			/*border:1px solid #000000;*/
			position:relative;
			.subPanel{
				width:98%;
				margin:auto;
			}
		}

		.subContent{
			.panel:not(:last-child){
				margin-bottom:10px;
			}
		}

		#Left{
			width:35%;
			display:inline-block;
		}

		#Right{
			width:64%;	
			float:right;
			display:inline-block;
		}

		#profilePanel{
			height:150px;
			border:1px solid black;
			#profileInfo{
				position:absolute;
				bottom:0px;
				width:100%;
				padding:5px 0px;
				color:#F0F0F0;
				background-color:rgba(0,0,0,0.6);
			}

			>.subPanel{
				height:100%;
				width:100%;	
			}

			&:hover{
				#profileInfo{
					display:block !important;
				}
				.subPanel{
					background-color:rgba(0,0,0,0.5);
				}
			}
		}

		#skillPanel{
			background-color:#303030;
			display:block;
			>.subPanel{
				display:inline-block;
				>.skillContent{
					width:95%;
					margin:5px auto;
				}
			}
		}

		#DPanel{
			border:1px solid black;
			.subPanel{
				width:98%;
				margin:5px auto;
			}
		}

		#socialPanel{
			.fa{
				font-size:10.0vh !important;
			}
			text-align:center;
		}

		#footer{
			display:block;
			margin-top:10px;
			padding:10px 0px;
			background-color:rgba(0,0,0,0.8);
			text-align:center;
			color:#F0F0F0;
		}
	}

	@media screen and(max-width: 840px){
		#mainContent{
			width:100% !important;
			padding:0px !important;			
		}

		.subContent, #footer{
			width:100% !important;
		}

		#Right{
			float:none !important;
			.panel:first-child{
				margin-top:10px;
			}
		}
	}
}